%section.container-fluid.d-flex.justify-content-center
  .card.max-width-sm.shadow.my-5.p-3
    .card-body
      %h1 Reset password
      %hr
      = form_with model: resource, as: resource_name, url: user_password_path, html: { 'data-turbo': false } do |f|
        .mb-3
          = f.label :email, class: 'form-label'
          = f.email_field :email, autocomplete: 'email', autofocus: true, class: 'form-control'
        = f.submit 'Submit', class: 'btn btn-primary'
