$fa-font-path: "";
$color-mode-type: "media-query";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap/scss/bootstrap";

@each $name, $width in $grid-breakpoints {
  .max-width-#{$name} {
    width: 100%;
    max-width: $width;
  }
}

#flash-container .alert:first-child {
  margin-top: $spacer;
}
