$fa-font-path: "";
$color-mode-type: "media-query";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap/scss/bootstrap";

#flash-container .alert:first-child {
  margin-top: $spacer;
}
